MONGODB_URI=mongodb+srv://punamchanne5_db_user:cgvl9ckMVjeT0lKB@cluster0.ftf6uag.mongodb.net/bank_system?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=24h
PORT=5000
NODE_ENV=development
